/* Font Import */
@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Base Rule */

* {
  font-family: "Geist+Mono", poppins;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
}

p,span {
  font-size: 3.2rem;
  text-transform: capitalize;
  color: var(--text-color-white);
}

button {
  text-transform: capitalize;
  font-size: 1.8rem;
  text-decoration: none;
  cursor: pointer;
  margin: 2rem 0 0 0;
  padding: 0.6rem;
  background-color: var(--placeholder-color-deep);
  border: none;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  &:hover{
    background-color: var(--text-color-skyblue);
  }
}

input,
select {
  color: var(--text-color-white);
  font-size: 1.6rem;
  border: none;
  padding: 0 0 0 0.5rem;
  text-transform: capitalize;

}

/* Themes */

:root {
  --bg-color: #2b3436;
  --box-color: #212121;
  --text-color-white: #ffffff;
  --text-color-skyblue: #31b4ec;
  --text-color-green: #5bbd3d;
  --placeholder-color-deep: #ffffff80;
  --placeholder-color-light:#ffffff33;
  --delete-button-color: #f85757;
}

/* Layout */

.box-container {
  max-width: 70rem;
  margin: 20rem auto;
  padding: 3.4rem 5.6rem;
  background-color: var(--box-color);
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
}

.flex-box {
  display: flex;
  justify-content: center;
  text-align: center;
}

.flex-column {
  flex-direction: column;
}

/* Reuseable */

::placeholder {
  color: var(--placeholder-color-deep);
  transition: all 0.3s linear ;
  -webkit-transition: all 0.3s linear ;
  -moz-transition: all 0.3s linear ;
  -ms-transition: all 0.3s linear ;
  -o-transition: all 0.3s linear ;
}

input:focus::-webkit-input-placeholder {
  color: var(--placeholder-color-light);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

.fa-solid {
  color: var(--delete-button-color);
  border: none;
}

/** Part-1 */

.box-container{

  & .heading-text--div{
    padding: 0 0 3rem 0;

    & p{
      transition: all 0.3s linear;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      &:hover{
        color:var(--text-color-skyblue)
      }
    }
  }

  & .input-fields--div {
    max-width: 50rem;
    width: 100%;
    margin: 0 auto;
    gap: 3rem;

    & .expense-name--field, .amount-field, .select-field, .datetime-field{
      background-color: var(--box-color);
      border-bottom: 0.2rem solid var(--placeholder-color-deep);
      padding: 0 0 0.5rem 0;
      transition: all 0.3s linear;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      &:focus{
        outline: none;
        border-bottom: 0.2rem solid var(--text-color-skyblue);
      }
      &:hover{
        border-bottom: 0.2rem solid var(--text-color-skyblue);
      }
    }

    & .select-field, .datetime-field{
      cursor: pointer;
    }


  }

}


